* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d6efd8;
  color: #333;
  font-size: larger;
}

.container {
  width: 90%;
  margin: 0 auto;
  background: #80af81;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
}

.container-img {
  text-align: center;
  margin-bottom: 1px;
}
.container-img img {
  width: 200px;
  margin-bottom: -17px;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .notes-grid {
    grid-template-columns: 1fr;
  }
}
